html,body
{
    font-family: 'Abel';
    font-size:16px;
    margin:0;
    padding:0;
    background-color: #111;
    color: #52b173;
    /*
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-size: cover;
    */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #80a2c5;
}

pre {
    font-family: 'Source Code Pro';
}

hr {
    border: 1px solid #bbb;
    height: 0px;
    /* Set the hr color */
    color: #bbb; //old IE
    background-color: #bbb;
}

.RecentListTitle{
    padding: 0.5em;
    padding-bottom:0;
    font-size: 1.2em;
    text-align: right;
    z-index: 9;
}

.RecentListTitleDesc{
    font-size: 0.8em;
    text-align: right;
    padding: 0.2em;
    padding-right:0.5em;
    z-index: 9;
}


#nav
{
    width:100%;
    height:80px;
    position:fixed;
    top:0px;
    font-size:1.25em;
    padding:0.5em;
    display:block;
    background-color: rgba(0,0,0,0.75);
    z-index: 9;
}

.SearchArea{
    width:100%;
    margin-top:8px;
    display: block;
    white-space: nowrap;
    vertical-align: bottom;
}

.searchinput
{
    background-color: #000;
    font-size:1em;
    min-width: 16em;
    font-family: 'Source Code Pro';
    border:0;
}

.searchinput:focus
{
    outline-width: 0;
}

#pagetitle
{
    vertical-align: middle;
    font-size:2em;
    color:#5BA398;
}

.MainMenuActive{
    background-color:#5BA398;
    color:#000;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.titleNote{
    font-size:0.35em;
    text-align: right;
    float:right;
    vertical-align: middle;
    padding-right:0.5em;
}

.github-link{
    background-color:#5BA398;
    background-image: url(https://favicons.githubusercontent.com/github.com);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: 50% 14px;
    min-width: 54px;
    min-height: 54px;
    float:right;
    color:#000;
    font-size:0.25em;
    vertical-align: bottom;
    text-align: center;
    padding:0;
    margin-right: 2em;
}

.searchbox{
    float:left;
    width:33%;
    display:inline-block;
    font-size:0.75em;
}

.searchinputBtn{
    width:2.5em;
    height:2.5em;
    border:0;
    float:right;
    vertical-align: middle;
    background-color: rgba(0,0,0,1);
    cursor:pointer;
}

.searchboxBlock{
    color:#80a2c5;
    border-bottom:1px solid #80a2c5;
}

.searchboxTx{
    color:#F59B9B;
    border-bottom:1px solid #F59B9B;
}

.searchboxAccount{
    color:#30DA7B;
    border-bottom:1px solid #30DA7B;
}

.searchinputBtnAccount{
    color:#30DA7B;
}

.searchinputBtnAccount:hover{
    color:#000;
    background-color:#30DA7B;
}

.searchinputAccount
{
    color:#30DA7B;
}

.searchinputBtnTx{
    color:#F59B9B;
}

.searchinputBtnTx:hover{
    color:#000;
    background-color:#F59B9B;
}

.searchinputTx
{
    color:#F59B9B;
}

.searchinputBtnBlock{
    color:#80a2c5;
}

.searchinputBtnBlock:hover{
    color:#000;
    background-color:#80a2c5;
}

.searchinputBlock
{
    color:#80a2c5;
}

.RecentListTitleBlock{
    color:#80a2c5;
}

.RecentListTitleTx{
    color:#F59B9B;
}

.RecentListTitleAccount{
    color:#30DA7B;
}

#content
{
    margin-top:110px;
}

.Monospaced {
    font-family: 'Source Code Pro';
}

.NoWrap {
    white-space: nowrap;
}

.RightAligned{
    text-align:right;
}

.FloatRight{
    float:right;
}

.LeftAligned{
    float:left;
}

.Hidden {
    display : none;
}

.Invisible {
    visibility : hidden;
}

.DivTable {
    display: table;
}

.DivCol {
    display: table-column;
}

.DivRow {
    display : table-row;
}

.DivCell {
    display : table-cell;
}

.Expand {
    width: 100%;
    overflow:hidden;
}

.medLabel {
    font-size: 1.0em;
    color: #50617a;
}

.BlockSmallLabel {
    font-size: 0.8em;
    color: #50617a;
}
.AccountSmallLabel {
    font-size: 0.8em;
    color: #488168;
}

.AccountRS {
    font-family: 'Source Code Pro';
    background-color: #243D37;
    font-size: 1.0em;
    padding:0.5em;
    padding-bottom: 0;
}

.AccountNum {
    font-family: 'Source Code Pro';
    background-color: #243D37;
    color: #488168;
    font-size: 0.75em;
    padding:0.5em;
    padding-top: 0;
}

.AccountDetail {
    padding:0.5em;
}

.AccountPublicKey{
    font-family: 'Source Code Pro';
    color: #488168;
    font-size: 0.75em;
    padding:0.5em;
    max-width:24em;
    word-wrap:break-word;
}

.AccountQR{
    width:5em;
    height:5em;
    display:inline-block;
    padding:0.2em;
}

.tinyLabel {
    font-size: 0.6em;
    color: #50617a;
    line-height: 0.85em;
}

.Field {
    display:table-row;
}

.FieldLabel {
    min-width: 8em;
    float:left;
    text-align: right;
    padding:0.1em;
    padding-right: 0.2em;
    vertical-align: top;
}

.FieldValue {
    max-width:20em;
    word-wrap:break-word;
    float:left;
    padding:0.1em;
    padding-left: 0.1em;
    color: #5d718e;
    vertical-align: middle;
}

.FieldValue:hover{
    background-color: #2c3644;
}

.hugeLabel {
    font-size:4.0em;
}

.content {
    margin:1.0em;
}

.BlockNumber {
    line-height: 0.85em;
    font-size:3.0em;
}

.AccountBalance {
    line-height: 0.85em;
    font-size:3.0em;
}

.BlockContent {
    background-color: #262f3b;
    margin:0.5em;
    color: #80a2c5;
    padding:0;
    display:block;
}

.AccountContent {
    background-color: #1A2522;
    margin:0.5em;
    color: #30DA7B;
    padding:0;
    display:block;
}

.PrevNextBtn{
    vertical-align: middle;
    font-size: 2.0em;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}
.PrevNextBtn:hover {
    background-color: #384456;
    color: #647998;
}

.BlockPrevNext{
    color:#1f2630;
    padding:0.5em;
    vertical-align: middle;
    float:right;
}

.BlockHeader{
    padding:0.5em;
}

.AccountHeader{
    display:inline-block;
}

.BlockTxCount{
    padding:0.5em;

}

.BlockDetail{
    background-color: #1a2029;
    padding:0.5em;
    font-size:0.75em;
}

.BlockInfoBtn{
    padding:0.5em;
    font-size:0.8em;
    cursor:pointer;
}
.BlockInfoBtnActive {
    background-color: #1a2029;
}

.BlockInfoBtn:hover{
    background-color: #2c3644;
}

.BlockGenerator {
    color: #52b173;
}

.BlockIDLink {
    color: #80a2c5;
}

.BlockTxList{
    color: #dd6d31;
}

.BlockContentHeader{
    position: relative;
}

.BlockContentBtn{
    position: absolute;
    right:2px;
    bottom: 2px;
    padding:0.1em;
    padding-left:0.2em;
    padding-right:0.2em;
    font-size: 1.2em;
    cursor:pointer;
}

.BlockContentBtn:hover{
    color:#52b173;
}

.TxContentBtn{
    position: absolute;
    right:2px;
    bottom: 2px;
    padding:0.1em;
    padding-left:0.2em;
    padding-right:0.2em;
    font-size: 1.2em;
    cursor:pointer;
}

.TxContentBtn:hover{
    color:#80a2c5;
}

.TransactionContent {
    background-color: #291B1B;
    margin:0.5em;
    color: #F59B9B;
    display:block;

}

.TransactionHeader{
    background-color: #472929;
    padding:0.5em;
    min-width: 25em;
    position:relative;
}

.TransactionDetail{
    padding:0.5em;
}

.TransactionDetailInfo{
    display:inline-block;
}

.TransactionDetailNum{
    display: inline-block;
    float:right;
    text-align: right;
    margin-right:1em;
}

.TransactionID {
    font-family: 'Source Code Pro';
    font-size: 1em;

}

.TransactionTime {
    font-size: 0.8em;
    padding:0.5em;
    padding-top: 0;
    color:#8D5A5A;
}

.TransactionField{
    display: table-row;
    font-size: 0.8em;
}

.TranactionAccLabel{
    vertical-align: middle;
    font-size:0.8em;
    color:#8D5A5A;
}

.TransactionAmount{
    line-height: 0.85em;
    font-size:3.0em;
}

.TransactionFee{
    font-size: 0.75em;
    color:#8D5A5A;
}

.TransactionFieldLabel {
    min-width: 8em;
    float:left;
    text-align: right;
    padding:0.1em;
    padding-right: 0.2em;
    vertical-align: top;
    color: #8D5A5A;
}

.TransactionFieldValue {
    max-width:24em;
    word-wrap:break-word;
    float:left;
    padding:0.1em;
    padding-left: 0.1em;
    vertical-align: middle;
}

.TransactionFieldValue:hover{
    background-color: #2c3644;
}

.RecentList{
    float:left;
    display:table-cell;
    width:33%;
    min-width: 24em;
}

.BlockStatSelector{
    color:#80a2c5;
    margin:0.5em;
    margin-bottom: 0;
}

.BlockStatCatSelectorActive{
    background-color: #19222e;
}

.StatCatSelector{
    display: inline-block;
    cursor: pointer;
    padding:0.5em;
    margin-left: 0.5em;
}

.BlockStatList{
    color:#80a2c5;
    background-color: #19222e;
    padding:0.25em;
    margin:0.5em;
    margin-top: 0;
}

.StatListItem{
    display: table;
    margin:2px;
}

.BlkBackground{
    background-color: #19222e;
}


.BlockStatListItemHead{
    display: table-cell;
    vertical-align: middle;
    min-width:4em;
    text-align: right;
    padding-right: 0.25em;
    background-color: #5b7997;
    color : #19222e;
}

.StatListItemContent{
    display: table-cell;
    font-size:1.25em;
    padding:0.25em;
    min-width: 16em;
    width: 100%;
}

.TxStatSelector{
    color:#8D5A5A;
    margin:0.5em;
    margin-bottom: 0;
}

.TxStatCatSelectorActive{
    background-color: #291B1B;
}

.TxStatList{
    color:#8D5A5A;
    background-color: #291B1B;
    padding:0.5em;
    margin:0.5em;
    margin-top: 0;
}

.TxStatListItemHead{
    display: table-cell;
    vertical-align: middle;
    min-width:10em;
    text-align: right;
    padding:0.25em;
    background-color: #8D5A5A;
    color : #291B1B;
}

.TxBackground{
    background-color: #291B1B;
}

.AccStatSelector{
    color:#52b173;
    margin:0.5em;
    margin-bottom: 0;
}

.AccStatCatSelectorActive{
    background-color: #1A2522;
}

.AccBackground{
    background-color: #1A2522;
}
.AccStatList{
    color:#52b173;
    background-color: #1A2522;
    padding:0.5em;
    margin:0.5em;
    margin-top: 0;
}

.AccStatListItemHead{
    display: table-cell;
    vertical-align: middle;
    min-width:14em;
    text-align: right;
    padding:0.25em;
    background-color: #52b173;
    color : #1A2522;
}

.chartContainer{

}

.chartCanvas{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.chartContainerInterval{

}

.canvasArea{
    position: relative;
    width: 100%;
    height:12em;
    border-bottom:1px solid #5b7997;
    border-color: inherit;
}

.chartIntervalButton{
    border:1px solid #5b7997;
    border-color: inherit;
    padding-left:0.4em;
    padding-right:0.4em;
    cursor: pointer;
}

.chartIntervalButtonActive-Blk {
    background-color: #5b7997;
    color:#000;
    cursor: default;
}

.chartIntervalButtonActive-Tx {
    background-color: #8D5A5A;
    color:#000;
    cursor: default;
}

.chartIntervalButtonActive-Acc {
    background-color: #52b173;
    color:#000;
    cursor: default;
}

.StatListItemRank{
    min-width: 2em;
    padding:0.25em;
}